header {
    position: sticky;
    top: 0;
    z-index: 99;
    background: repeating-linear-gradient(180deg, #ffffff 0%, #fafafa 13%);
    box-shadow: 2px 4px 5px 1px black;
    padding: 1rem;
    gap: 10px;
}


header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 250px;
    gap: 1rem;
}

header img {
    border-radius: 0;
    flex: 75px 0;
}

header h1 {
    text-align: center;
    color: black;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 30px;
}