@layer root {
    :root {
        --normal: #a4acaf;
        --grass: #9bcc50;
        --fire: #fd7d24;
        --water: #4592c4;
        --electric: #eed535;
        --bug: #628945;
        --poison: #b97fc9;
        --flying: #3dc7ef;
        --psychic: #f366b9;
        --ground: #f7de3f;
        --rock: #a38c21;
        --dragon: #53a4cf;
        --fairy: #fdb9e9;
        --ice: #51c4e7;
        --fighting: #d56723;
        --dark: #707070;
        --ghost: #7b62a3;
        --steel: #9eb7b8;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: inherit;
    }

    .type-normal {
        background-color: var(--normal);
    }
    
    .type-grass {
        background-color: var(--grass);
    }
    
    .type-fire {
        background-color: var(--fire);
    }
    
    .type-water {
        background-color: var(--water);
    }
    
    .type-electric {
        background-color: var(--electric);
    }
    
    .type-bug {
        background-color: var(--bug);
    }
    
    .type-poison {
        background-color: var(--poison);
    }
    
    .type-flying {
        background-color: var(--flying);
    }
    
    .type-psychic {
        background-color: var(--psychic);
    }
    
    .type-ground {
        background-color: var(--ground);
    }
    
    .type-rock {
        background-color: var(--rock);
    }
    
    .type-dragon {
        background-color: var(--dragon);
    }
    
    .type-fairy {
        background-color: var(--fairy);
    }
    
    .type-ice {
        background-color: var(--ice);
    }
    
    .type-fighting {
        background-color: var(--fighting);
    }
    
    .type-dark {
        background-color: var(--dark);
    }
    
    .type-ghost {
        background-color: var(--ghost);
    }
    
    .type-steel {
        background-color: var(--steel);
    }
}