@font-face {
    font-family: "pokemon";
    src: url("/fonts/FOT-KafuTechnoStd-H_1.otf");
}

@layer typography {
    h1, h2, h3, h4, h5, h6, p, input, button {
        font-family: 'pokemon', sans-serif;
    }
    
    h3 {
        font-size: clamp(23px, 4vw, 30px);
    }
}