main:not(.pokemon-list) {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 107px);
    background-image: linear-gradient(180deg, #194a83, #21709b);
}

.custom-grid {
    --gap: 2rem;
    display: grid;
    grid-template-columns: 1fr min(1400px, calc(100% - var(--gap))) 1fr;
    grid-column-gap: var(--gap);
    padding: 2rem 0;
    gap: 4rem 0;
}

.focus-heading {
    text-shadow: 1px 7px 5px #00000021;
    font-size: clamp(32px, 4vw, 60px);
    text-transform: capitalize;
}

.custom-grid>* {
    grid-column: 2;
}

.pokemon-img-wrapper {
    background: white;
    border-radius: 4rem;
    padding: 1rem;
}

.sprites-wrapper {
    display: grid;
    place-items: center;
}

.sprites-wrapper:focus img:first-of-type {
    opacity: 0;
}

.sprites-wrapper img {
    grid-area: 1/1/1/-1;
    position: relative;
    transition: opacity 300ms;
}

.sprites-wrapper img:first-of-type {
    z-index: 1;
}

.sprites-wrapper img:first-of-type:hover {
    opacity: 0;
}

.sprite-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: white;
}

.sprite-link:hover,
.sprite-link:focus,
.sprite-link:hover,
.sprite-link:focus {
    text-decoration: underline;
}

.sprite-link:hover .sprites-wrapper img:first-of-type,
.sprite-link:focus .sprites-wrapper img:first-of-type,
.sprite-link:hover .sprites-wrapper img:first-of-type,
.sprite-link:focus .sprites-wrapper img:first-of-type {
    opacity: 0;
}

.pokemon-img-wrapper img,
.pokemon-img-wrapper img {
    object-fit: contain;
}

.ability-move h1,
.ability-move p {
    text-transform: capitalize;
    color: white;
}

.ability-move h1 {
    font-size: clamp(32px, 4vw, 60px);
}

.ability-move p {
    font-size: 20px;
}

.ability-move-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ability-move-details .stat-groups {
    display: flex;
    gap: 2rem 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 0;
}

.pokemon-with-ability-move {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.pokemon-with-ability-move h2 {
    color: white;
}

.pokemon-with-ability-move ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
}

.pokemon-with-ability-move h3 {
    text-transform: capitalize;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.stats li {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
    text-transform: capitalize;
}

.stats li a {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
    transition: 200ms ease-in-out text-shadow;
}

.stats li a:focus,
.stats li a:hover {
    text-shadow: 1px 1px 12px black;
}

.stats li p {
    font-size: clamp(20px, 4vw, 40px);
    text-shadow: 1px 7px 5px #00000021;
}

.stats li p.small-text {
    font-size: 16px;
}

.ability-move-details article h2 {
    color: white;
}

/* @layer utilities {
    .pokemon-article {
        display: grid;
        position: relative;
        box-shadow: 4px 3px 2px 2px black;
        border-radius: 1px;
        gap: 1rem;
        background-color: #C5C7AF;
        text-decoration: none;
        scroll-snap-align: start;
        grid-template-rows: 15px 100px 1fr 15px;
        grid-template-columns: unset;
        align-items: unset;
        min-width: calc((100% / 2) - (1rem / 2));

        &:hover,
        &:focus {
            background-color: #D0F447;
        }

        &::before,
        &::after {
            content: '';
            position: relative;
            background-color: #D0F447;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }

        .name-id {
            align-self: unset;
            margin-bottom: 0;

            .pokemon-name {
                flex: 1;
            }
        }

        @media (min-width: 470px) {
            min-width: calc((100% / 3) - (2rem / 3));
        }

        @media (min-width: 600px) {
            min-width: calc((100% / 4) - (3rem / 4));
        }

        @media (min-width: 1024px) {
            min-width: calc((100% / 5) - (4rem / 5));
        }

        @media (min-width: 1350px) {
            min-width: calc((100% / 6) - (5rem / 6));
        }

        @media (min-width: 1500px) {
            min-width: calc((100% / 8) - (5rem / 8));
        }

        .pokemon-img {
            object-fit: contain;
            object-position: center;
            height: 100%;
            width: 100%;
            max-height: 80px;
            max-width: 80px;
            aspect-ratio: 1/1;
            justify-self: center;
            align-self: flex-end;
            min-height: 100px;
            transition: filter 300ms;
        }

        .name-id {
            position: relative;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 0;
            box-shadow: none;
            align-self: flex-end;
            margin-bottom: 5px;
            grid-column: 2/-1;
            color: black;
            text-decoration: none;
            transition: 400ms left, 300ms background-color;

            @media (min-width: 1024px) {
                align-self: unset;
                margin-bottom: 0;
            }

            @media (min-height: 1024px) {
                min-height: 140px;
            }
        }

        .pokemon-name {
            writing-mode: vertical-lr;
            text-transform: capitalize;
            pointer-events: none;
        }

        .pokemon-id {
            font-size: 23px;
            text-align: center;
            pointer-events: none;
        }

        @media (min-width: 1024px) {
            gap: 10px 0;
            grid-template-columns: unset;
        }
    }
} */