.pokemon-list {
    display: flex;
    flex-direction: row;
    background: url(/material-wood.svg);
    padding: 2rem 1rem;
    gap: 1rem;
    height: calc(100dvh - 107px);
    scroll-padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) #0000002f;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @media (min-width: 768px) {
        padding: 3rem 1rem;
    }

    @media (min-width: 1200px) {
        padding: 6rem 1rem;
    }
}