.pokemon-list {
    display: flex;
    flex-direction: var(--list-direction);
    background: var(--list-background);
    padding: 1rem;
    height: 100%;
    flex: 1;
    overflow: auto;
    gap: 1rem;
    max-width: 100%;
    height: calc(100dvh - 169px);
    scroll-snap-type: mandatory y proximity;

    @media (min-width: 1500px) {
        padding: 2rem;
    }
}

[data-theme="gen4"] .pokemon-list {
    @media (min-width: 559px) {
        height: calc(100dvh - 132px);
    }
}

[data-theme="gen9"] .pokemon-list {
    @media (min-width: 559px) {
        height: calc(100dvh - 212px);
    }
}