.pokemon-list {
    display: flex;
    flex-direction: var(--list-direction);
    background: var(--list-background);
    padding: 1rem;
    height: 100%;
    flex: 1;
    gap: 1rem;
    max-width: 100%;
    height: calc(100dvh - 168.59px);
    scroll-padding: 1rem;

    @media (min-width: 1500px) {
        padding: 2rem;
    }
}

[data-theme="gen4"] .pokemon-list {
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    @media (min-width: 559px) {
        height: calc(100dvh - 132px);
    }
}

[data-theme="gen9"] .pokemon-list {
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @media (min-width: 559px) {
        height: calc(100dvh - 212px);
    }
}