main {
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) #0000002f;
    overflow: auto;
    height: calc(100vh - 111px);
}

main>section {
    display: grid;
    place-items: center;
    scroll-snap-align: start;
    height: calc(100vh - 111px);
    background-image: linear-gradient(90deg, #192f4f, #1e7a8d);

    &:has(.basic-info) {
        background-image: linear-gradient(180deg, #194a83, #21709b);
    }
}

.basic-info {
    display: grid;
    --gap: 2rem;
    color: white;
    grid-template-areas: "details"
        "flavour-text"
        "main-sprite"
        "attributes";
    padding: 1rem;
    gap: 1rem;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    max-height: 50dvh;

    .details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        grid-area: details;

        >div {
            display: flex;
            flex-direction: column-reverse;
            gap: 1rem;

            h1 {
                text-transform: capitalize;
                font-size: clamp(24px, 4vw, 60px);
            }

            h2 {
                font-size: clamp(18px, 4vw, 35px);
            }
        }

        .types {
            display: flex;
            gap: 1rem;
            list-style-type: none;

            li {
                border-radius: 2rem;
                text-transform: uppercase;
                display: flex;
                gap: 1rem;
                align-items: center;
                color: white;
                padding-right: 2rem;
                filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
            }
        }

        p {
            font-size: clamp(16px, 4vw, 23px);
        }
    }

    .flavour-text {
        grid-area: flavour-text;

        p {
            font-size: clamp(18px, 4vw, 23px);
        }
    }

    .main-sprite {
        grid-area: main-sprite;

        img {
            width: 100%;
            height: auto;
            max-height: 400px;
        }
    }

    .attributes {
        grid-area: attributes;
        display: flex;
        gap: 1rem;
        justify-content: center;

        >div {
            display: flex;
            flex-direction: column;
            gap: .3rem;
        }

        @media (min-width: 768px) {
            text-align: right;
            justify-content: flex-end;
        }

        @media (min-width: 1024px) {
            flex-direction: column;
        }
    }

    @media (min-width: 768px) {
        padding: 2rem;
        grid-template-areas: "details main-sprite"
            "details main-sprite"
            "flavour-text attributes";
    }

    @media (min-width: 1024px) {
        padding: 2rem;
        grid-template-areas: "details main-sprite ."
            "flavour-text main-sprite attributes";
        align-items: flex-end;
        grid-template-columns: 1fr 500px min-content;
        grid-template-rows: 1fr min-content;

    }
}

.advanced-info {
    display: grid;
    --gap: 2rem;
    color: white;
    grid-template-areas: "details"
        "flavour-text"
        "main-sprite"
        "attributes";
    padding: 1rem;
    gap: 1rem;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    max-height: 80dvh;
    list-style-type: none;

    .stats-abilities {
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            gap: 1rem;


            h2 {
                text-shadow: #00000080;
                font-size: 25px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                list-style: none;

                li {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    color: white;

                    text-transform: capitalize;

                    h3 {
                        text-shadow: 2px 2px #0000002f;
                    }

                    p {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .evolution-chain {
        display: flex;
        gap: 1rem;

        article {
            display: flex;
            align-items: center;
            text-align: center;

            a {
                text-decoration: none;
            }

            .img-wrapper {
                background: white;
                border-radius: 4rem;
                padding: 1rem;

                img {
                    object-fit: contain;
                }
            }

            h2,
            p {
                color: white;
            }
        }
    }
}