main {
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) #0000002f;
    overflow: auto;
    height: calc(100vh - 107px);

    @media (min-width: 768px) {
        scroll-snap-type: y mandatory;
    }
}

h2 {

}

.basic-info,
.evolution-varieties,
.advanced-info {
    display: grid;
    place-items: center;
    scroll-snap-align: start;
    min-height: calc(100vh - 111px);


    >article {
        display: grid;
        color: white;
        padding: 1rem;
        gap: 1rem;
        max-width: 1600px;
        width: 100%;
    }
}

.basic-info {
    background-image: linear-gradient(180deg, #194a83, #21709b);

    article {
        grid-template-areas: "details main-sprite"
            "flavour-text flavour-text"
            "attributes attributes";
        grid-template-columns: 1fr 1fr;

        grid-template-rows: max-content max-content min-content;

        .details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
            grid-area: details;

            >div {
                display: flex;
                flex-direction: column-reverse;
                gap: 1rem;

                h1, h2 {
                    text-shadow: 1px 7px 5px #00000021
                }

                h1 {
                    text-transform: capitalize;
                    font-size: clamp(32px, 4vw, 60px);
                }

                h2 {
                    font-size: clamp(18px, 4vw, 35px);
                }
            }

            .types {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                list-style-type: none;

                li {
                    border-radius: 2rem;
                    text-transform: uppercase;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    padding-right: 2rem;
                    box-shadow: 1px 3px 7px 0px #00000047;
                }
            }

            p {
                font-size: clamp(16px, 4vw, 23px);
            }
        }

        .flavour-text {
            grid-area: flavour-text;

            p {
                font-size: clamp(18px, 4vw, 23px);
            }
        }

        .main-sprite {
            grid-area: main-sprite;

            img {
                width: 100%;
                height: auto;
                max-height: 330px;
                object-fit: contain;
            }
        }

        .attributes {
            grid-area: attributes;
            display: flex;
            gap: 1rem;
            justify-content: center;

            >div {
                display: flex;
                flex-direction: column;
                gap: .3rem;
            }

            @media (min-width: 768px) {
                text-align: right;
                justify-content: flex-end;
            }

            @media (min-width: 1024px) {
                flex-direction: column;
            }
        }

        @media (min-width: 768px) {
            padding: 2rem;
            grid-template-areas: "details main-sprite"
                "details main-sprite"
                "flavour-text attributes";
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1024px) {
            padding: 2rem;
            grid-template-areas: "details main-sprite ."
                "flavour-text main-sprite attributes";
            align-items: flex-end;
            grid-template-columns: 1fr 500px min-content;
            grid-template-rows: 1fr min-content;
        }
    }
}

.evolution-varieties,
.advanced-info {
    background-image: linear-gradient(90deg, #192f4f, #1e7a8d);
}

.evolution-varieties>article {
    place-items: center;
    gap: 2rem;

    .evolution-chain,
    .varieties {
        h2 {
            text-align: center;
            margin-bottom: 2rem;
        }

        >ul {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem 3rem;
            list-style: none;
            justify-content: center;
            margin: auto;
            width: 100%;
            max-width: 1200px;

            li {
                article {
                    display: flex;
                    flex-direction: column;
                    max-width: 139px;
                    justify-content: center;
                    gap: 5px;

                    a {
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 5px;
                    }

                    .img-wrapper {
                        background: white;
                        border-radius: 4rem;
                        padding: 1rem;

                        img {
                            object-fit: contain;
                        }
                    }

                    h3,
                    p {
                        color: white;
                        text-align: center;
                    }

                    h3 {
                        text-transform: capitalize;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.advanced-info {
    >article {
        .stats-abilities {
            display: flex;
            gap: 2rem 1rem;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    list-style: none;

                    li {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        color: white;
                        text-transform: capitalize;

                        a {
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            color: white;
                            transition: 200ms ease-in-out text-shadow;

                            &:focus, &:hover {
                                text-shadow: 1px 1px 12px black;
                            }
                        }

                        p {
                            font-size: clamp(20px, 4vw, 40px);
                            text-shadow: 1px 7px 5px #00000021;

                            &.small-text {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}