#loading-cover {
    width: 100%;
    height: 100%;
    z-index: 100;
    color: white;
    border: unset;
    display: grid;
    place-items: center;
    transition: 1s opacity ease-in-out, 1s visibility;
    font-size: clamp(40px, 4vh, 120px);
    min-height: calc(100vh - 107px);
    background-image: linear-gradient(180deg, #194a83, #21709b);
  }

  #loading-cover.no-bg {
    background-image: unset;
  }

  #loading-cover p:not(.pokedex-title) {
    font-size: 16px;
  }

  #loading-cover a {
    color: white;
    text-decoration: underline;
  }